<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
	<h2 >Spring Boot Crud System -Client Registation</h2>
	<tr>
		<div align = "left" >		   
		     <h3><a  th:href="@{'/new'}">Add new</a></h3>     
	    </div>
	
	</tr>
	<tr>
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
      		<th>Client ID</th>
            <th>Client Name</th>
            <th>Principle Contact</th>
            <th>Email</th>
            <th>Address</th>
            <th>Location</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="client : ${listclient }">
		<td th:text="${client.id}">Client ID</td>
		<td th:text="${client.clientname}">ClientName</td>
		<td th:text="${client.principlecontact}">Principle Contact</td>
		<td th:text="${client.address}">Address</td>	
		<td th:text="${client.location}">Location</td>	
								
		<td>
			<a th:href="@{'/edit/' + ${client.id}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/delete/' + ${client.id}}">Delete</a>
		</td>		    
		</tr> 
   
  </tbody>
</table>
                    
                 </div>

            </div> 

	</tr>

	</tbody>
	</table>
	<div>
</body>
</html>